<ion-header>
  <ion-toolbar>
    <ion-title>Map Tracker.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>Test</ion-item>
  </ion-list>
  <!-- <div #map id="map"></div> -->
  <hr>
  <ion-button shape="round" color="primary" (click)="start()" *ngIf="!tracking">Start</ion-button>
  <ion-button shape="round" color="danger" (click)="stop()"  *ngIf="tracking">Stop</ion-button>
  <ion-button shape="round" color="danger" (click)="clear()">Clear</ion-button>

</ion-content>